@charset "UTF-8";

header {
  background-color: var(--primary);
  color: var(--light);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.header-burger-menu {
  width: 40px;
  height: 40px;
  left: 0%;
  border-radius: 0.5rem;
  background-color: var(--primary);
}

.header-burger-menu:hover {
  background-color: var(--primary-darker);
}

.header-title {
  margin: auto;
  padding: 0;
  line-height: 10px;
  text-decoration: none;
  color: var(--light);
  display: flex;
}





.side-panel {
  position: fixed;
  top: 0;
  left: -400px;
  width: 300px;
  height: 100%;
  background-color: var(--light);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: left 0.2s ease-in-out;
  z-index: 15;
  padding: 1rem;
  pointer-events: auto;
}

.side-panel.open {
  left: 0;
}

.side-panel-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-panel-list {
  /* ... */
}

.side-panel-item {
  font-size: 1.2em;
  font-weight: 500;
  margin: 2rem;
  padding: 5px 3px 5px 3px;
  text-decoration: none;
  display: flex;
  border-radius: 0.5rem;
}

.side-panel-item.selected {
  background-color: var(--primary);
  color: var(--light);
}

.side-panel-item-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  /* SAME AS PRIMARY - Got with: https://change-svg-color.vercel.app/ */
  filter: invert(35%) sepia(42%) saturate(2798%) hue-rotate(218deg) brightness(104%) contrast(99%);
}

.side-panel-item-icon.selected {
  /* WHITE - Got with: https://change-svg-color.vercel.app/ */
  filter: invert(100%) sepia(3%) saturate(7%) hue-rotate(352deg) brightness(105%) contrast(101%);
}

.side-panel-item-name {
  margin: auto;
  padding: 2px;
}