@charset "UTF-8";

main {
  filter: blur(0px);
}

header {
  background-color: var(--primary);
  color: var(--light);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.header-burger-menu {
  width: 40px;
  height: 40px;
  left: 0%;
  border-radius: 0.5rem;
  background-color: var(--primary);
  cursor: pointer;
}

.header-title {
  margin: auto;
  padding: 0;
  line-height: 10px;
  text-decoration: none;
  color: var(--light);
  display: flex;
}

.side-panel {
  position: fixed;
  top: 0;
  left: -400px;
  width: 300px;
  height: 100%;
  background-color: var(--light);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: left 0.2s ease-out;
  z-index: 15;
  padding: 1rem;
  pointer-events: auto;
}

.side-panel.open {
  left: 0;
}

.side-panel-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-panel-list {
  /* ... */
}

.side-panel-item {
  margin: 2rem;
  padding: 5px 3px 5px 3px;
  text-decoration: none;
  display: flex;
  border-radius: 0.5rem;
}

.side-panel-item-name {
  margin: auto;
  padding: 5px;
  text-decoration: none;
  color: var(--dark);
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
}