@charset "UTF-8";

:root {
  --primary: #4194e2;
  --primary-darker: #2a6db0;
  --secondary: #ee5011;
  --dark: #000000;
  --light: #ffffff;
  --bs-success: #28a745;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
}

/* * {
  box-shadow: 0 0 0 3px red;
} */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
}

section {
  padding: 0.5rem 1rem;
}

.pill {
  background-color: var(--primary);
  color: var(--light);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 25px;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}