@charset "UTF-8";

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar>* {
  margin: 0 5px 0 5px;
}

.toolbar-filter-button {
  cursor: pointer;
}

.toolbar-search {
  width: 100%;
  height: 30px;
  border-radius: 25px;
  border: gray 1px solid;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.toolbar-search-button {
  background-color: var(--primary);
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}

.toolbar-search-button-label {
  color: var(--light);
  font-size: 0.8rem;
  font-weight: bold;
}

.pills-list {
  padding: 0.5rem;
  display: flex;
  align-items: left;
}

.pills-list>* {
  margin: 0 5px 0 5px;
}

.pill {
  background-color: var(--primary);
  color: var(--light);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 25px;
  cursor: pointer;
}

.pill.chocolate {
  background-color: chocolate;
}

.pill.teal {
  background-color: teal;
}

.pill.brown {
  background-color: brown;
}